<app-navbar></app-navbar>



<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit"  >Purchase</button>

</form>
<!-- form end here -->
  <h1 class="total">total {{total}}</h1>
  
<ul class="data" *ngFor="let item of items ;">
  <img class='img' src="{{item.url}}" alt="Avatar" style="width:10%" >
<li>{{item.name}}
<br>
<h1>{{getNumberOfItems(item.id)}}</h1>
<h1>{{item.price*getNumberOfItems(item.id)}}</h1>
 

</li>    
</ul>

