<app-navbar></app-navbar>


<form [formGroup]="checkoutForm" #myform="ngForm" (ngSubmit)="onSubmit(myform)" >

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name" required minlength="3" maxlength="25">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address" minlength="3" maxlength="25" #newItem required>
  </div>
<h1 *ngIf="myform.invalid" class="warning"> you should write your name and address to complete your Purchase</h1>

<!-- <div class="warning" *ngIf="name.errors?.minlength">
  Name must be at least 3 characters long.
</div>  -->
  <button class="button" type="submit" [disabled]="myform.invalid" >Purchase</button>

</form>
<!-- @output -->
<app-item-page ></app-item-page>
<!-- form end here -->
  <h1 class="total">total {{getTotal()}}</h1>
  
<ul class="data" *ngFor="let item of items ;">
  <img class='img' src="{{item.url}}" alt="Avatar" style="width:10%" >
<li>{{item.name}}
<br>
<h1>{{getNumberOfItems(item.id)}}</h1>
<h1>{{item.price*getNumberOfItems(item.id)}}</h1>
<button (click)="remove(item.name)" (click)="feedback()" >Remove</button>
 

</li>    
</ul>




