
<div class="card">
  <img src="{{item.url}}" style="width:100%">
  <div class="container">

    <p>{{item.description}}</p> 
    <div class="row">
      <div class="col">
       

        <select >
          <option *ngFor="let node of tenant.nodes"   [value]="node">{{node}}</option>
        </select>
        <br><br>
      <button (click)="itemDetail($event, item)" (click)="this.setComponentVisibility()" (click)="setButtonVisibility()"  [routerLink]="['/cart']">Add item</button>
  </div>
</div>
