<div class="card" *ngIf="this.getcomponentVisible()">

    <img class='img' src="{{item.url}}" alt="Avatar" >
 
    <div class="container">
   
      <h1 class="description">{{item.description}} </h1> 
      <br><br><br>
      
          <div ngbDropdown class="d-inline-block">
     
  <select #newItem [(ngModel)]="selectedNode" required (ngModelChange)="statusChanged($event)">
    <option *ngFor="let node of tenant.nodes"   [value]="node">{{node}}</option>
  </select>
        <br><br>
        <!-- (ngModelChange)="onSelection($event)" 
        (click)="onSelection($event)" -->
        <div class="yourCssClass" *ngIf="this.getIsButtonVisible()" (click)="setIsButtonVisible()" (click)="setcomponentVisible()" (click)="setcomponentVisible()" >
          <button class="add-button" (click)="addNewItem(newItem.value)" (click)="sendToCart(item)" [routerLink]="['/cart']" (click)="feedback()" >Add to cart</button>
          <!-- <button  *ngIf="this.isButtonVisible" (click)="setIsButtonVisible()"  [routerLink]="['/cart']">click me</button> -->
           </div>
      </div>
 
    <br><br><br>
  </div>

