.card{

}
img{
    width: 20%;
    height: 400px;
    margin-left: 30%;
margin-top: 200px;

}
.description{
    text-align: right;
    margin-right: 270px;
    font-size: 25px;
    margin-top:30px;

}
.container{
    margin-top: -300px;
}
button{
    
   

}
.dropdown{
margin-left: 70%;

margin-top: -30%;
}
.img{
    display: inline;
}
.add-button{
    background-color: brown;
    border-radius: 40px;
    color: wheat;
    width: 100px;
    margin-left: -10px;
    
}